pre {
    white-space: pre-wrap!important;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap!important;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

hr.sectionbreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.container{
    margin: auto;
}

.main-wrapper{
    margin: auto;
    width: 100%;
    height: auto;
}

.title-container{
    /* color added for dev purposes */
    /*background-color: lightgrey;*/
    margin: auto;
    width: 96%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.maincontent-wrapper{
    height: auto;
}

/* background-color added to help with development
   delete or modify after completion */
.documentation-wrapper,.codesnippet-wrapper,
.example-wrapper,.help-wrapper, .info-wrapper{
    display: flex;
    /*background-color: lightgrey;*/
    margin-left:2%;
    margin-right: 2%;
    height: auto;
}

/*
.documentation-wrapper{
    height: 400px;
}
.codesnippet-wrapper{
    height: auto;
}
.example-wrapper{
    height: 800px;
}
.help-wrapper{
    height: 300px;
}
.info-wrapper{
    height: 300px;
}
*/

.documentation-container,.codesnippet-container,
.example-container,.help-container,.info-container{
    /*background-color: grey;*/
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    width: 100%;
}

.documentation-content,.codesnippet-content,
.example-content,.help-content,.info-content{
    margin: 2%;
    width: auto;
}
