body{
    margin: 0px;
}
pre {
    white-space: pre-wrap!important;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap!important;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a{
    text-decoration:none;
    color: blue;
}
a:hover{
    color: darkblue;
}
hr.sectionbreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.container{
    margin: auto;
}
.main-wrapper{
    margin: auto;
    width: 100%;
    height: auto;
}
.sidebar {
    width: 20%;
    padding: 2%;
    float: left;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: #ffffe6;
    color: #666;
}
.sidebar-title{
    height:4%;
    padding: 2%;
    display: flex;
    justify-content: center;
}
.sidebar-logo{
    padding: 2%;
    height:25%;
    background-image: url('../img/placeholder-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-info{
    height: 30%;
}
.sidebar-documentation{
    height: 37%;
}
.sidebar-info, .sidebar-documentation{
    margin-bottom:5%;
    padding: 2%;
}
.sidebar-list-indent{
    margin: 5%;
}

.title-container{
    /* color added for dev purposes */
    /*background-color: lightgrey;*/
    margin: auto;
    padding-left: 25%;
    width: auto;
    height: 5%;
    display: flex;
    justify-content: center;
}

.maincontent-wrapper{
    height: auto;
    padding-left: 25%;
}

.documentation-wrapper{
    display: flex;
    margin-left:2%;
    margin-right: 2%;
    height: auto;
}
.documentation-container{
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    width: 100%;
}
.documentation-content{
    margin: 2%;
    width: auto;
}

@media only screen and (max-width: 1080px) {
    .sidebar {
        display: none;
        width: 0%;
    }
    .title-container{
        padding-left: 0%;
    }
    .maincontent-wrapper{
        padding-left: 0%;
    }
}
