pre {
    white-space: pre-wrap!important;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap!important;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container{
    margin: auto;
}

.main-wrapper{
    margin: auto;
    width: 80%;
    height: auto;
}

.title-container{
    /* color added for dev purposes */
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 80px;
}

.maincontent-wrapper{
    height: auto;
}

/* background-color added to help with development
   delete or modify after completion */
.documentation-wrapper,.codesnippet-wrapper,.example-wrapper,.help-wrapper{
    display: flex;
    background-color: lightgrey;
    margin-left:5%;
    margin-right: 5%;
}

.documentation-wrapper{
    height: 400px;
}
.codesnippet-wrapper{
    height: auto;
}
.example-wrapper{
    height: 800px;
}
.help-wrapper{
    height: 300px;
}

.documentation-container,.codesnippet-container,.example-container,.help-container{
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    width: 100%;
}

.documentation-content,.codesnippet-content,.example-content,.help-content{
    margin: 2%;
    width: auto;
}
